*/terraform.tfstate.backup
*/terraform.tfstate
*/.terraform
*/.terraform.lock.hcl
terraform.tfvars
*/.terraform.tfstate.lock.info
*/.terragrunt-cache
.terraform
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
